
a {
  font-family: var(--fuente-principal);
}

.header {
  background-color: var(--header);
}

.container{
  max-width: 200rem;
}

/* nav */

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1.5rem;
}

.header__logo-img {
  height: 9rem;
}

.header__toogle{
  font-size: 2.4rem;
  color: var(--header-font-color);
  cursor: pointer;
}

.header__toogle:hover {
  color: #05201c;
  transition: 0.2s;
}


/* Header menu list */

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  border-radius: 0 0 1.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.85);

  position: fixed;
  z-index: 9;
  width: 100%;
  top: 9rem;
  right: 0;

}

.none {
  display: none;
}

.transition {
  transition: all 2s;
}


.header__menu-item {
  list-style: none;
  padding: 2.5rem;
}

.header__menu-link {
  color: #fff;
  font-size: 1.8rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.active,
.header__menu-link:hover {
  color: var(--header-font-color);
  border-bottom: 2px solid var(--header-font-color);
  transition: 0.2s;
}

/* Texto y boton */

.header__heading {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header__text {
  color: #F2F7F5;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  height: 180px;

}

.header__btn {
  padding: 1rem 2rem;
  background-color: var(--header-font-color);;
  color: #f2f7f5;
  font-size: 1.8rem;
  border: initial;
  border-radius: 0.7rem;
}

.header__btn:hover {
  background-color: var(--header-button-hover);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.typewriter::after {
  content: "|";
}


/* Responsive */
@media screen and (min-width: 316px) {
  .header__text {
    height: 144px;
  }
}

@media screen and (min-width: 387px) {
  .header__text {
    height: 108px;
  }
}

@media screen and (min-width: 643px) {
  .header__text {
    height: 72px;
  }
}

@media screen and (min-width: 768px) {
  .header__toogle {
    display: none;
  }

  .header__logo-img {
    height: 10rem;
  }

  .header__menu-list {
    all: initial;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .header__menu-item {
    padding: 0;
  }

  .header__menu-link {
    color: var(--header-font-color);
  }

  .active,
  .header__menu-link:hover {
    color: #f2f7f5;
    border-bottom: 2px solid #f2f7f5;
    transition: 0.1s;
  }

  .header__heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__text {
    text-align: initial;
    font-size: 3.5rem;
    height: 126px;
  }

  .header__btn {
    width: 197px;
  }

}

@media screen and (min-width: 891px) {
  .header__text {
    height: 84px;
  }
}

@media screen and (min-width: 891px) {
  .header__menu-list {
    gap: 4rem;
  }
}

@media screen and (min-width: 891px) {
  .header__menu-list {
    gap: 5rem;
  }
}

@media screen and (min-width: 1529px) {
  .header__text {
    height: initial;
  }

  .header__btn {
    width: initial;
  }
}














