
.header {
  background-color: #FAAE2B;
}

.container{
  max-width: 200rem;
  /* width: 90%; */
}

/* nav */

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.header__logo {
  width: 6rem;
  border-radius: 50%;
}

.header__toogle{
  font-size: 2.4rem;
  color: #00473e;
  cursor: pointer;
}

.header__toogle:hover {
  color: #05201c;
  transition: 0.2s;
}



/* Header menu list */

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  border-radius: 0 0 1.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.85);

  position: fixed;
  width: 100%;
  top: 9rem;
  right: 0;

}

.none {
  display: none;
}

.transition {
  transition: all 2s;
}


.header__menu-item {
  list-style: none;
  padding: 2.5rem;
}

.header__menu-link {
  color: #fff;
  font-size: 1.8rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}

.active,
.header__menu-link:hover {
  color: #30a192;
  border-bottom: 2px solid #30a192;
  transition: 0.2s;
}

/* Texto y boton */

.header__heading {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header__text {
  color: #F2F7F5;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;

}

.header__btn {
  padding: 1rem 2rem;
  background-color: #00473e;
  color: #f2f7f5;
  font-size: 1.8rem;
  border: initial;
  border-radius: 0.7rem;
}

.header__btn:hover {
  background-color: #05201c;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.typewriter::after {
  content: "|";
}


/* Responsive */

@media screen and (min-width: 768px) {
  .header__toogle {
    display: none;
  }

  .header__logo {
    width: 8rem;
  }

  .header__menu-list {
    position: static;
    display: flex;
    gap: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: none;
  }

  .header__menu-item {
    padding: 0;
  }

  .header__menu-link {
    color: #00473E;
  }

  .active,
  .header__menu-link:hover {
    color: #f2f7f5;
    border-bottom: 2px solid #f2f7f5;
    transition: 0.1s;
  }

  .header__heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__text {
    text-align: initial;
    font-size: 3.5rem;
  }

}













