<header class="header">
  <div class="header__container container">
    <nav class="header__menu">
      <div class="header__logo">
        <img
          class="header__logo-img"
          src="../.././../../assets/hotel-logo-md.png"
          alt="logo"
        />
      </div>

      <label class="header__toogle" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </label>

      <ul class="header__menu-list" [ngClass]="{'none': !click, 'transition': click}">
        <li class="header__menu-item">
          <a href="#" class="header__menu-link" routerLink="/inicio" routerLinkActive="active" (click)="toggleMenu()">Inicio</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link" routerLink="/habitaciones" routerLinkActive="active" (click)="toggleMenu()">Habitaciones</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link" routerLink="/nosotros" routerLinkActive="active" (click)="toggleMenu()">Nosotros</a>
        </li>
        <li class="header__menu-item">
          <a href="#" class="header__menu-link" routerLink="/contacto" routerLinkActive="active" (click)="toggleMenu()">Contacto</a>
        </li>
      </ul>
    </nav>

    <div class="header__heading">
      <h1 class="header__text typewriter" id="">
        <!-- Poner: id="typewriter" -->
        {{ text2 | uppercase }}
      </h1>

      <button class="header__btn">Reservar ahora <i class="bi bi-whatsapp"> </i></button>
    </div>

  </div>
</header>
