<div class="contact">
    <div class="container">
        <div class="contact__info">
            <h2 class="info__title">Lorem ipsum dolor sit amet.</h2>
            <p class="info__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ipsa?</p>
            <div class="info__about">
                <li class="about__item"><i class="fa-solid fa-location-dot about__icon"></i><p>Av. El ejercito 144 - Ayacucho</p></li>
                <li class="about__item"><i class="fa-solid fa-phone about__icon" ></i><p>987654321</p></li>
                <li class="about__item"><i class="fa-solid fa-envelope about__icon"></i><p>hotelprive@gmail.com</p></li>
            </div>
        </div>
        <form class="contact__form" action="">
            <label for="nombre">Tu nombre</label>
            <input type="text" name="nombre">
            <label for="motivo">Motivo</label>
            <input type="text" name="motivo">
            <label for="mensaje">Comentario Adicional</label>
            <textarea name="mensaje" id="" cols="30" rows="4"></textarea>
            <button>Enviar <i class="fa-brands fa-whatsapp"></i></button>
        </form>
    </div>
</div>
