<div class="container--color">
  <div class="container">
    <h1 class="container__titulo">EXPLORA NUESTRAS <span class="container__titulo--naranja">HABITACIONES</span></h1>

    <h2 class="container__subtitulo">ELIJA SU HABITACIÓN A SU GUSTO</h2>

    <p class="container__texto">
      Todas nuestras Habitaciones cuentan con:
      <span class="container__span container__spa--orange"> baños privados</span> ,
      <span class="container__span"> estantes</span> ,
      <span class="container__span container__spa--orange"> TV</span> ,
      <span class="container__span"> netflix</span> y son
      <span class="container__span container__spa--orange"> Habitaciones matrimoniales</span>
    </p>
  </div>
</div>

<div class="container tarjeta-container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5">

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h101-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h101-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h101-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#h101-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="../../../../assets/images/hotel-rooms/h101-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 101-1">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/images/hotel-rooms/h101-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 101-2">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/images/hotel-rooms/h101-3.jpg" class="carousel-img d-block w-100" alt="Foto hotel 101-3">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h101-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h101-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 101' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación pequeña <br>
              Habitación con ventana a la calle <br>
              Habitación de color azul <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20101%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h102-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h102-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h102-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                <img src="../../../../assets/images/hotel-rooms/h102-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 102-1">
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <img src="../../../../assets/images/hotel-rooms/h102-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 102-2">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h102-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h102-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 102' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación pequeña <br>
              Habitación de color verde limon <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20102%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h103-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h103-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h103-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5000">
                <img src="../../../../assets/images/hotel-rooms/h103-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 103-1">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="../../../../assets/images/hotel-rooms/h103-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 103-2">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h103-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h103-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 103' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación pequeña <br>
              Habitación de color azul y blanco  <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20103%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h104-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h104-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h104-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="6000">
                <img src="../../../../assets/images/hotel-rooms/h104-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 104-1">
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                <img src="../../../../assets/images/hotel-rooms/h104-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 104-2">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h104-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h104-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 104' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación grande <br>
              Habitación de color naranja  <br>
              Habitación de color vibrante <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20104%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h105-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h105-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h105-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3500">
                <img src="../../../../assets/images/hotel-rooms/h105-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 105-1">
              </div>
              <div class="carousel-item" data-bs-interval="3500">
                <img src="../../../../assets/images/hotel-rooms/h105-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 105-2">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h105-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h105-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 105' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación grande <br>
              Habitación de color rojo con plomo <br>
              Habitación de color vibrante <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20105%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h106-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h106-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h106-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#h106-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                <img src="../../../../assets/images/hotel-rooms/h106-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 106-1">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/images/hotel-rooms/h106-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 106-2">
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="../../../../assets/images/hotel-rooms/h106-3.jpg" class="carousel-img d-block w-100" alt="Foto hotel 106-3">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h106-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h106-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 106' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación grande <br>
              Habitación de color amarillo <br>
              Habitación de color vibrante <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20106%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h107-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h107-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h107-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4500">
                <img src="../../../../assets/images/hotel-rooms/h107-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 107-1">
              </div>
              <div class="carousel-item" data-bs-interval="4500">
                <img src="../../../../assets/images/hotel-rooms/h107-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 107-2">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h107-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h107-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 107' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación grande <br>
              Habitación de color verde claro <br>
              Habitación de color vibrante <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20107%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h108-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h108-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h108-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#h108-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#h108-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5500">
                <img src="../../../../assets/images/hotel-rooms/h108-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 108-1">
              </div>
              <div class="carousel-item" data-bs-interval="5500">
                <img src="../../../../assets/images/hotel-rooms/h108-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 108-2">
              </div>
              <div class="carousel-item" data-bs-interval="5500">
                <img src="../../../../assets/images/hotel-rooms/h108-3.jpg" class="carousel-img d-block w-100" alt="Foto hotel 108-3">
              </div>
              <div class="carousel-item" data-bs-interval="5500">
                <img src="../../../../assets/images/hotel-rooms/h108-3.jpg" class="carousel-img d-block w-100" alt="Foto hotel 108-3">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h108-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h108-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 108' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación grande <br>
              Habitación con ventana a la calle <br>
              Habitación de color rojo <br>
              Habitación de color vibrante <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20108%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="col">
        <div class="card">

          <!-- Carrusel -->
          <div id="h109-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#h109-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#h109-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#h109-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="6500">
                <img src="../../../../assets/images/hotel-rooms/h109-1.jpg" class="carousel-img d-block w-100" alt="Foto hotel 109-1">
              </div>
              <div class="carousel-item" data-bs-interval="6500">
                <img src="../../../../assets/images/hotel-rooms/h109-2.jpg" class="carousel-img d-block w-100" alt="Foto hotel 109-2">
              </div>
              <div class="carousel-item" data-bs-interval="6500">
                <img src="../../../../assets/images/hotel-rooms/h109-3.jpg" class="carousel-img d-block w-100" alt="Foto hotel 109-3">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#h109-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#h109-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!-- Carrusel -->

          <div class="card-body">
            <h5 class="card-title">{{'Habitación 109' | uppercase}}</h5>

            <hotel-prive-icons-servicios></hotel-prive-icons-servicios>

            <p class="card-text">
              Habitación grande <br>
              Habitación de color azul <br>
              Habitación de color vibrante <br>
            </p>

            <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20la%20Habitación%20109%20esta%20disponible%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank" class="btn btn-primary">Reservar <i class="bi bi-whatsapp"> </i></a>
          </div>

        </div>
      </div>
      <!-- Card -->

  </div>

</div>
