.containner{
    background-color: var(--negro2);
    color: var(--blanco-crema);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer{
    width: 85%;
    margin: 2rem auto;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 25%) repeat(2, 15%);
    justify-content: space-between;
    gap: 1rem;
}

.titles{
    font-size: 1.6rem;
    font-weight: 500;
}

.containner__logotipo{
    display: flex;
    align-items: center;
}

.logotipo__logo{
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.logotipo__name{
    font-size: 3rem;
}

.logotipo__name span{
    color: var(--amarillo);
}

p{
    font-size: 1.3rem;
}
.social__icon{
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--anaranjado);
}

/* Estilos para el contenedor encuentranos*/
.footer__about, .footer__links, .footer__legal{
    text-align: end;
}

.about__item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about__icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--anaranjado);
}

.containner__links, .containner__legal{
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    text-transform: capitalize;
}

a{
    color: #ffffff92;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.copyright{
    text-align: center;
}

.copyright p {
    font-weight: 200;
}

.containner__links a:hover, .containner__legal a:hover, .social__icon:hover{
    color: var(--blanco-crema);
    transition: .5s;
}

@media (max-width: 768px) {
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__links{
        text-align: start;
    }

    .about__item p{
        order: -1;
    }

    .about__icon{
        margin-right: 0;
        margin-left: 1rem;
    }

}

@media (max-width: 400px){
    .footer{
        grid-template-columns: 100%;
    }

    .footer div{
        text-align: center;
    }
    .about__item{
        justify-content: center;
    }
}
