a{
    text-decoration: none;
    color: #F2F7F5;
}
li{
    list-style: none;
}

hr{
    border-color: #121212;
    border-width: 1px;
}

.footer{
    padding: 2em 10em;
    background-color: #121212;
    color: #F2F7F5;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: small;
}

.footer__links{
}

.footer__links li, .footer__usefull li{
    margin-bottom: 1em;
}

.footer__contact{
    text-align: center;
}

.contact__redes{
    display: flex;
    justify-content: space-around;
}

.contact__redes a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.redes__icon{
    font-size: 2em;
    color: #FAAE2B;
    display: flex;
    align-items: center;
}

.contact__redes i span{
    color: #F2F7F5;
    font-size: small;
    margin-left: 1em;
    text-transform: capitalize;
    
}

.footer__usefull{
    text-align: right;
}

.footer__usefull h2, .footer__links h2{
    font-size: medium;
}   

.footer__copyright{
    width: 100vw;
    text-align: center;
}

.copyright__text{
    font-size: x-small;
}

.footer__links li :hover, .footer__usefull li :hover{
    color: #FAAE2B;
    transition: .2s ease;
}