<div class="footer">
    <div class="footer__links">
        <h2>Enlaces Rapidos</h2>
            <li><a routerLink="/inicio" routerLinkActive="active" class="links__item">Inicio</a></li>
            <li><a routerLink="/habitaciones" routerLinkActive="active" class="links__item">Habitaciones</a></li>
            <li><a routerLink="/nosotros" routerLinkActive="active" class="links__item">Nosotros</a></li>
            <li><a routerLink="/contacto" routerLinkActive="active" class="links__item">Contacto</a></li>
    </div>
    <div class="footer__contact">
        <h1>CONTACTANOS</h1>
        <p>A traves de nuestras diferentes medios de comunicación!</p>
        <div class="contact__redes">
            <a><i class="fa-solid fa-phone redes__icon"></i>987654321</a>
            <a href=""><i class="fa-solid fa-envelope redes__icon"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp redes__icon"></i></a>
            <a href=""><i class="fa-brands fa-facebook redes__icon"></i></a>
        </div>
    </div>
    <div class="footer__usefull">
        <h2>Legal</h2>
        <li><a routerLink="/inicio" routerLinkActive="active" class="links__item">Politicas de privacidad</a></li>
        <li><a routerLink="/inicio" routerLinkActive="active" class="links__item">Politicas del hotel</a></li>
    </div>
    <div class="footer__copyright">
        <hr>
        <span class="copyright__text">© 2023 Wholy Systems</span>
    </div>
</div>
