.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        "hotel hotel hotel"
        "direc links legal"
        "copy copy copy"
    ;
    justify-content: space-between;
    gap: 1rem;
}

.footer{
    width: 85%;
    background-color: var(--negro2);
    color: var(--blanco-crema);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titles{
    font-size: 1.6rem;
    font-weight: 500;
}

.containner__logotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logotipo__logo{
    width: 8rem;
    height: 8rem;
}

.logotipo__name{
    font-size: 3rem;
}

.logotipo__name span{
    color: var(--amarillo);
}

p{
    font-size: 1.3rem;
}
.social__icon{
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--anaranjado);
}

/* Estilos para el contenedor encuentranos*/
.footer__about, .footer__links, .footer__legal{
    text-align: center;
    margin-bottom: 2rem;
}

.footer__information{
    grid-area: hotel;
    margin: 2rem auto;
    text-align: center;
}

.about__item{
    list-style: none;
    display: flex;
    justify-content: center;
}

.about__icon{
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--anaranjado);
}

.containner__links, .containner__legal{
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    text-transform: capitalize;
}

a{
    color: #ffffff92;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.copyright{
    display: block;
    text-align: center;
    grid-area: copy;
}

.copyright p {
    font-weight: 200;
}

.containner__links a:hover, .containner__legal a:hover, .social__icon:hover{
    color: var(--blanco-crema);
    transition: .5s;
}

@media (max-width: 768px) {
    

    .container{
        display: block;
    }
}


