<div class="footer">
    <div class="container">
        <div class="footer__information">
            <div class="containner__logotipo">
                <img class="logotipo__logo" src="../../../../assets/prive.png" alt="logo prive">
            </div> 
            <p>"Colores para todos los gustos, precios para todos los bolsillos"</p>
            <div class="containner__social">
                <a href="https://wa.me/+51926775658?text=¡Hola!%20Me%20encantaría%20hospedarme%20en%20el%20Hotel%20Prive%20para%20disfrutar%20de%20una%20estadía%20cómoda%20y%20placentera.%20Quisiera%20saber%20si%20tienen%20habitaciones%20disponibles%20para%20las%20fechas%20.....%20y%20para%20.....%20personas." target="_blank"><i class="fa-brands fa-square-whatsapp fb social__icon"></i></a>
                <a href="https://web.facebook.com/profile.php?id=100090666952822" target="_blank"><i class="fa-brands fa-square-facebook ws social__icon"></i></a>
            </div>
        </div>
        <div class="footer__about">
            <h3 class="about__title titles">Encuentrenos</h3>
            <div class="containner__about">
                <li class="about__item"><i class="fa-solid fa-location-dot about__icon"></i><p>Jr. Tarapaca 126 - Barrio Conchopata</p></li>
                <li class="about__item"><i class="fa-solid fa-phone about__icon" ></i><p>926775658</p></li>
                <li class="about__item"><i class="fa-solid fa-envelope about__icon"></i><p>hotelprive.ayp@gmail.com</p></li>
            </div>
        </div>
        <div class="footer__links">
            <h3 class="links__title titles">Enlaces</h3>
            <div class="containner__links">
                <a routerLink="/" routerLinkActive="active" class="nav__link" >inicio</a>
                <a routerLink="/habitaciones" routerLinkActive="active" class="nav__link" >habitaciones</a>
                <a routerLink="/nosotros" routerLinkActive="active" class="nav__link" >nosotros</a>
                <a routerLink="/contacto" routerLinkActive="active" class="nav__link" >contacto</a>
            </div>
        </div>
        <div class="footer__legal">
            <h3 class="legal__title titles">Legal</h3>
            <div class="containner__legal">
                <a routerLinkActive="active" class="legal__item" >Politicas</a>
                <a routerLinkActive="active" class="legal__item" >Privacidad</a>
            </div>
        </div>
        <div class="copyright">
            <hr>
            <p>© Wholy Systems</p>
        </div>
    </div>
</div>