<div class="inicio">
  <div class="presentation">
    <img src="../.././../../assets/ImgamanHotel.jpeg" alt="fondo">
    <div class="service">
      <div class="item__service">
        <i class="fa-solid fa-wifi"></i>
          <p>
            Free wifi
          </p>   
      </div>
      <div class="item__service">
        <i class="fa-solid fa-toilet"></i>
        <p>
          Baño privado
        </p>  
      </div>
      <div class="item__service">
        <i class="fa-solid fa-warehouse"></i>
        <p>
          Cochera amplia
        </p>
      </div>
      <div class="item__service">
        <i class="fa-solid fa-tv"></i>
        <p>
          Netflix
        </p>
      </div>
      

    </div>

  </div>

</div>