.main{
  display: block;
  width: 100%;
}
.img__fondo{
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.container{
  display: flex;
  flex-direction: column;
}

.services{
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service__item{
  width: 15rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.service__icon{
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: rgba(255, 166, 0, 0.1);
  color: var(--anaranjado);
}

.titles{
  text-align: center;
  width: 40%;
  min-width: 40rem;
  margin: 6rem auto;
}

.titles h3 span{
  color: var(--anaranjado);
}

.reason__container{
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}

.motives{
  display: block;
}

.motive__item{
  margin-bottom: 4rem;
}

.motive__item .item__numer{
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--anaranjado);
}

.item__numer p{
 color: aliceblue;
 font-weight: bold;
  margin: auto;
}

.motive__item h4{
  font-size: 2rem;
}

.image1{
  position: absolute;
  left:70%;
  top: 10%;
  width: 30rem;
  height: 40rem;
  object-fit: cover;
  box-shadow: -18px 0px 0px 0px var(--verde-orcuro);
}
.image2{
  position: absolute;
  width: 30rem;
  height: 20rem;
  top: 15rem;
  left: 50%;
  box-shadow: -8px 8px 11px -11px var(--verde-orcuro);
  object-fit: cover;
}

.diverse{
  margin-bottom: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.diverse__resources{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:5% ;
  margin: auto;
}

.resource__item img{
  width: 100%;

  object-fit: cover;
}

.resource__item h4{
  text-align: left;
  margin-top: 1rem;
  color: var(--gris);
}




.locate{
  display: block;
  text-align: center;
}

.locate__map{
  margin: 2rem auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.locate__map img{
  width: 100%;
  height: 40rem;
  border-radius: 4rem;
  object-fit: cover;
}

.map__info{
  background-color: var(--blando);
  border-radius: 4rem;
  padding: 2rem;
  width: 90%;
  text-align: left;
  position: absolute;
  bottom: 2rem;
  left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.map__info__container{
  width: 60%;
}

.map__info a{
  background-color: var(--verde-orcuro);
  color: var(--blando);
  padding: 2rem 2rem;
  border-radius: 1rem;
}

@media (max-width: 880px) {
  .reason__container{
    display: block;
    text-align: center;
  }

  .motives img{
    width: 100%;
    height: 30%;
    position: static;
    object-fit: cover;
    margin: 2rem auto;
    border-radius: 4rem;
  }

  .image1{
    box-shadow: none;
  }
  .item__numer{
    margin: 1rem auto;
  }

  .resource__item h4{
    text-align: center;
    font-size: 2.5rem;
  }

  .locate__map{
    display: block;
    
  }

  .locate__map img{
    border-radius: 4rem 4rem 0 0;
    height: 30rem;
  }
  .map__info{
    position: static;
    width: 100%;
    border-radius: 0 0 4rem 4rem;
  }
}

@media (max-width: 600px) {

  .img__fondo{
    height: 40rem;
    object-fit: cover;
  }

    .container{
      width: 85%;
    }

    .motive__item{
      margin: 0;
      background-color: #ff770027;
      padding: 3rem;
      border-radius: 4rem;
    }
    .resource__item img{
      border-radius: 4rem;
    }

  .titles{
    min-width: 30rem;
    margin-bottom: 2rem;
  }

  .map__info{
    flex-direction: column;
  }

  .diverse__resources{
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    gap: 2%;
  }

  .map__info__container{
    display: block;
    text-align: center;
  }
  .map__info__container{
    width: 90%;
  }

  .map__info a{
    margin-top: 2rem;
  }
}
