<div>
  <div class="container__fondo">
    <img src="../../../../assets/images/inicio/fondo.jpg" alt="main_img" />
    <div class="glass__promotion">
      <p class="promotion__text">
        "Disfrute los atractivos turísticos de Ayacucho con la mejor estadía"
      </p>
      <div class="marca__container">
        <img
          src="../../../../assets/images/inicio/marca-ayacucho.png"
          alt="marca_ayacucho"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="services">
      <div class="title" id="title">
        <h3><span>Servicios</span> que ofrecemos</h3>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-car service__icon"></i>
        <hr />
        <span>Garaje 24hs</span>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-wifi service__icon"></i>
        <hr />
        <span>Wifi Gratis</span>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-shower service__icon"></i>
        <hr />
        <span>Agua Caliente</span>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-cookie-bite service__icon"></i>
        <hr />
        <span>Bebida y Snack</span>
      </div>
      <div class="service__item contenedor__streaming">
        <div class="streaming">
          <img
            width="4%"
            class="icon__net"
            src="../../../../assets/images/inicio/netflix.svg"
            alt="netflix"
          />
          <img
            width="10%"
            src="../../../../assets/images/inicio/prime.png"
            alt="prime"
          />
          <img
            width="10%"
            src="../../../../assets/images/inicio/disney.png"
            alt="disney"
          />
          <img
            width="10%"
            src="../../../../assets/images/inicio/hbo.png"
            alt="hbo"
          />
        </div>
        <hr />
        <span class="text__streaming">Streaming TV</span>
      </div>
    </div>
    <div class="reason">
      <div class="titles">
        <h3>Por qué deberías <span>quedarte aquí</span></h3>
        <!--  <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam,
      doloremque quae corrupti libero adipisci tenetur sapiente qui ad
      commodi labore.
    </p> -->
      </div>
      <div class="reason__container">
        <div class="motives">
          <div class="motive__item">
            <div class="item__numer" id="numer1"><p>1</p></div>
            <h4>Ofrecemos una variedad de habitaciones</h4>
            <p>
              Cada uno de estas opciones ofrece comodidades y caracterisiticas,
              por lo que la mejor eleccion dependera de tus necesidades y
              preferencias.
            </p>
          </div>
          <img
            class="image1"
            src="../../../../assets/images/hotel-rooms/h108-2.jpg"
            alt="image1"
          />
          <div class="motive__item">
            <div class="item__numer" id="numer2"><p>2</p></div>
            <h4>La mejor calidad a precios bajos</h4>
            <p>
              Entendemos que nuestros huéspedes buscan la mejor relación
              calidad-precio, por lo que nos esforzamos por proporcionar las
              mejores comodidades y servicios a precios asequibles.
            </p>
          </div>
          <img
            class="image2"
            src="../../../../assets/images/hotel-rooms/h104-1.jpg"
            alt="image1"
          />
          <div class="motive__item">
            <div class="item__numer" id="numer3"><p>3</p></div>
            <h4>Mejor atención a nuestros clientes</h4>
            <p>
              Nuestro personal está dedicado a proporcionar el mejor servicio y
              atención al cliente para garantizar que tu estancia sea agradable
              y sin problemas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="diverse">
      <div class="titles">
        <h3>Nuestras habitaciones</h3>
        <h3><span>un mundo de elección</span></h3>
        <!--
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat
      impedit soluta laborum, odio est?
    </p>-->
      </div>
      <div class="diverse__resources">
        <div class="resource__item item1">
          <img src="../../../../assets/images/hotel-rooms/h109-2.jpg" alt="" />
        </div>
        <div class="resource__item item2">
          <img src="../../../../assets/images/hotel-rooms/h101-3.jpg" alt="" />
        </div>
        <div class="resource__item item3">
          <img src="../../../../assets/images/hotel-rooms/h108-2.jpg" alt="" />
        </div>
        <div class="resource__item item4">
          <img src="../../../../assets/images/hotel-rooms/h107-1.jpg" alt="" />
        </div>
      </div>
      <a
        routerLink="/habitaciones"
        routerLinkActive="active"
        class="button__habitaciones"
        >Ver Detalles</a
      >
    </div>
    <div class="locate">
      <div class="titles">
        <h3>Donde <span>Encontrarnos</span></h3>
      </div>
      <div class="locate__map">
        <img src="../../../../assets/images/inicio/location.jpg" alt="" />
        <div class="map__info">
          <div class="map__info__container">
            <h3>Nuestra Ubicación</h3>
            <p>
              Nos encontramos a unas pocas cuadras de la plaza mayor de
              Ayacucho.
            </p>
          </div>
          <a href="https://goo.gl/maps/4WKBkTKLNTyS3p357" target="_blank"
            >Abrir Google Maps</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>
