.presentation{
  display: flex;
  flex-direction: column;
}
.service{
  
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 3em auto;
  align-items: center;
}
.item__service{
  display: flex;
  align-items: center;
  flex-wrap: wrap;


}
.item__service i{
  color: orange;
  margin-right: 1em ;
  background-color: bisque;
  padding: 0.5em;
  border-radius: 50%;
}
