<div class="main">
  <div class="fondo"></div>

  <div class="container">
    <div class="services">
      <div class="service__item">
        <i class="fa-solid fa-wifi service__icon"></i><span>Wifi Gratis</span>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-car service__icon"></i><span>Cochera</span>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-tv service__icon"></i><span>Netflix</span>
      </div>
      <div class="service__item">
        <i class="fa-solid fa-cookie-bite service__icon"></i
        ><span>Bebida Aperitivos</span>
      </div>
    </div>
    <div class="reason">
      <div class="titles">
        <h3>Por qué deberías <span>quedarte aquí</span></h3>
        <!--  <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam,
          doloremque quae corrupti libero adipisci tenetur sapiente qui ad
          commodi labore.
        </p> -->
      </div>
      <div class="reason__container">
        <div class="motives">
          <div class="motive__item">
            <div class="item__numer"><p>1</p></div>
            <h4>Ofrecemos una variedad de habitaciones</h4>
            <p>
              Cada uno de estas opciones ofrece comodidades y caracterisiticas,
              por lo que la mejor eleccion dependera de tus necesidades y
              preferencias.
            </p>
          </div>
          <img
            class="image1"
            src="../../../../assets/images/hotel-rooms/h108-2.jpg"
            alt="image1"
          />
          <div class="motive__item">
            <div class="item__numer"><p>2</p></div>
            <h4>La mejor calidad a precios bajos</h4>
            <p>
              Entendemos que nuestros huéspedes buscan la mejor relación
              calidad-precio, por lo que nos esforzamos por proporcionar las
              mejores comodidades y servicios a precios asequibles.
            </p>
          </div>
          <img
            class="image2"
            src="../../../../assets/images/hotel-rooms/h104-1.jpg"
            alt="image1"
          />
          <div class="motive__item">
            <div class="item__numer"><p>3</p></div>
            <h4>Mejor atención a nuestros clientes</h4>
            <p>
              Nuestro personal está dedicado a proporcionar el mejor servicio y
              atención al cliente para garantizar que tu estancia sea agradable
              y sin problemas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="diverse">
      <div class="titles">
        <h3>Nuestras habitaciones</h3>
        <h3><span>un mundo de elección</span></h3>
        <!--
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellat
          impedit soluta laborum, odio est?
        </p>-->
      </div>
      <div class="diverse__resources">
        <div class="resource__item item1">
          <img src="../../../../assets/images/hotel-rooms/h109-2.jpg" alt="" />
          <h4>Habitación con vista </h4>
        </div>
        <div class="resource__item item2">
          <img src="../../../../assets/images/hotel-rooms/h101-3.jpg" alt="" />
          <h4>Habitación pequeña</h4>
        </div>
        <div class="resource__item item3">
          <img src="../../../../assets/images/hotel-rooms/h108-2.jpg" alt="" />
          <h4>Habitación grande</h4>
        </div>
        <div class="resource__item item4">
          <img src="../../../../assets/images/hotel-rooms/h107-1.jpg" alt="" />
          <h4>Habitación de colores vibrantes</h4>
        </div>
      </div>
    </div>
    <!--
    <div class="locate">
      <div class="titles">
        <h3>Donde <span>Encontrarnos</span></h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, odit!
        </p>
      </div>
      <div class="locate__map">
        <img src="../../../../assets/images/habitacion1.jpg" alt="" />
        <div class="map__info">
          <div class="map__info__container">
            <h3>Lorem ipsum dolor sit.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
            deserunt, sapiente ex.
          </p>
          </div>
          <a href="">Abrir Google Maps</a>
        </div>
      </div>
    </div>-->
  </div>
</div>
<div></div>
