
:root {
  --blando: #FFFFFF;
  --blanco-crema: #F2F7F5;
  --amarillo: #FAAE2B;
  --verde-orcuro: #00473E;
  --anaranjado: #FF7500;
  --negro: #292929;
  --negro2: #121212;
  --gris: #565656;

  --fuentePrincipal: font-family: 'Montserrat';
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* Globales */
body {
  background-color: var(--blanco-crema);
  font-family: 'Montserrat';
  font-family: 'Inter';
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
} */
