<section class="nosotros">
  <div class="container">
    <div class="row nosotros__container">
      <div class="col-md-7 nosotros__letras">
        <h2 class="nosotros__titulo">Acerca de nosotros</h2>
        <hr class="nosotros__line">

        <p class="nosotros__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ut, dignissimos debitis sapiente tempora omnis corporis. Optio cum qui rerum facilis saepe praesentium repudiandae aperiam, quaerat corrupti hic. Accusantium, similique?</p>
      </div>

      <div class="col-md-5 nosotros__imagen-container">
        <img class="nosotros__imagen" src="../../../../assets/nosotros-imagen.webp" alt="Nosotros imagen">
      </div>
    </div>
  </div>
</section>

<section class="nosotros nosotros--color">
  <div class="container">
    <div class="row nosotros__container">
      <div class="col-md-7 nosotros__letras">
        <h2 class="nosotros__titulo">Ayacucho</h2>
        <hr class="nosotros__line nosotros__line--small">

        <p class="nosotros__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ut, dignissimos debitis sapiente tempora omnis corporis. Optio cum qui rerum facilis saepe praesentium repudiandae aperiam, quaerat corrupti hic. Accusantium, similique?</p>
      </div>

      <div class="col-md-5 nosotros__imagen-container">
        <img class="nosotros__imagen" src="../../../../assets/nosotros-imagen.webp" alt="Nosotros imagen">
      </div>
    </div>
  </div>
</section>
