<section class="nosotros">
  <div class="container">
    <div class="nosotros__container">
      <div class="col-md-7 nosotros__letras nosotros__letras--derecho">
        <div class="">
          <h2 class="nosotros__titulo">Acerca de nosotros</h2>
          <hr class="nosotros__line">
        </div>

        <p class="nosotros__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ut, dignissimos debitis sapiente tempora omnis corporis. Optio cum qui rerum facilis saepe praesentium repudiandae aperiam, quaerat corrupti hic. Accusantium, similique? Lorem ipsum dolor sit, amet consectetur adipisicing eliiditate, dolores dolorem assumenda reprehenderit. Enim harum vitae in nisi illo facilis. Id</p>
      </div>

      <div class="col-md-5 nosotros__imagen-container">
        <img class="nosotros__imagen" src="../../../../assets/nosotros-imagen.webp" alt="Nosotros imagen">
      </div>
    </div>
  </div>
</section>

<section class="nosotros nosotros--color">
  <div class="container">
    <div class="nosotros__container nosotros__container--reverse">

      <div class="col-md-5 nosotros__imagen-container">
        <img class="nosotros__imagen" src="../../../../assets/nosotros-imagen.webp" alt="Nosotros imagen">
      </div>

      <div class="col-md-7 nosotros__letras nosotros__letras--izquierdo">
        <div class="">
          <h2 class="nosotros__titulo nosotros__titulo--mg">Ayacucho</h2>
          <hr class="nosotros__line nosotros__line--small">
        </div>

        <p class="nosotros__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero ut, dignissimos debitis sapiente tempora omnis corporis. Optio cum qui rerum facilis saepe praesentium repudiandae aperiam, quaerat corrupti hic. Accusantium, similique? Lorem ipsum dolor sit, amet consectetur adipisicing eliiditate, dolores dolorem assumenda reprehenderit. Enim harum vitae in nisi illo facilis. Id!</p>
      </div>

    </div>
  </div>
</section>
