/* NOSOTROS */

/* Container */
.nosotros {
  background-color: #121212;
}

.nosotros__container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nosotros__container--reverse {
  flex-direction: column-reverse;
}

.nosotros__letras {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nosotros__titulo {
  margin-bottom: 1rem;
  color: var(--blanco);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nosotros__line {
  opacity: 1;
  width: 50%;
  border: 0.2rem solid #ff7500;
  border-radius: 0.25rem;
}

.nosotros__texto {
  color: var(--blanco);
  font-size: 1.4rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}

/* AYACUCHO */

.nosotros--color {
  background-color: var(--negro);
}

.nosotros__line--small {
  width: 30%;
}

@media screen and (min-width: 768px) {
  .nosotros__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0rem;
    padding: 0;
  }

  .carousel-img {
    min-height: 40rem;
    max-height: min-content;
  }

  .nosotros__texto {
    font-size: 1.6rem;
  }

  .nosotros__letras--derecho {
    padding-right: 15%;
  }

  .nosotros__letras--izquierdo {
    padding-left: 15%;
    text-align: right;
  }

  .nosotros__line--small {
    display: inline-block;
    position: relative;
    right: 0;
  }

  .nosotros__titulo--mg {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .nosotros__titulo {
    font-size: 3.5rem;
  }

  .nosotros__texto {
    font-size: 2rem;
  }
}


@media screen and (min-width: 1400px) {
  .nosotros__titulo {
    font-size: 4rem;
  }

  .nosotros__texto {
    font-size: 2.4rem;
  }
}
